.App {
  text-align: center;
  width: 500px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.chart{
  width: inherit;
  height: 250px;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  overflow-y: auto;
  margin-bottom: 180px;
}

.buttonContainer{
  position: fixed;
  bottom: 20px;
  width: inherit;
}

